html {
    height: 100%;
}
body {
    background-image: url("../images/body.jpg");
    height: 100%;
    margin: 0;
}
header {
    background-image: url("../images/header.jpg");
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    height: 40px;
    box-shadow: inset 0 3px 3px rgba(255,255,255,0.5), inset 0 -3px 3px rgba(0,0,0,0.5);
}
header nav {
    height: 40px;
    line-height: 40px;
    margin: auto;
    width: 960px;
}
header nav input {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/search.png");
    background-position: 5px -19px;
    background-repeat: no-repeat;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 16px 16px 16px 16px;
    color: rgba(210, 180, 140, 0.25);
    display: block;
    float: left;
    font-size: 16px;
    height: 17px;
    line-height: 16px;
    margin: 10px;
    padding: 0 0 1px 25px;
    width: 190px;
}
header nav input:focus {
    background-position: 5px 1px;
    color: #D2B48C;
}
header nav .button {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    color: black;
    display: block;
    float: right;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    margin: 4px;
    padding-left: 40px;
    text-decoration: none;
    width: 80px;
}
header nav .dropbox {
    background-position: 0 -99px;
}
header nav .dropbox:hover {
    background-position: 0 -68px;
}
header nav .upload {
    background-position: 0 -32px;
}
header nav .upload:hover {
    background-position: 0 0;
}
